* {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0d7cc6;
    --secondary-color: #f68712;
    --tertiary-color: #90c2e6;
    --black: #010101;
    --white: #f2f2f2;
    --background-color: aliceblue;
}

/*--------------------------------------------HEADER---------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 98vh;
    margin: 1rem;
    border-radius: 35px;
    background-color: rgba(128, 128, 128, 0.177);
}

/*--------------------------------------------NAVBAR---------------------------------------------*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 96%;

    margin-top: 1rem;
    margin-left: 2rem;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 9000;
    transition: top 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
    width: 4rem;
}

.logo a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--primary-color);
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;;
    gap: 3rem;
}

.nav-list a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

#showMenu {
    display: none;
}

.sign-out-btn {
    height: fit-content;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
}

/*-------------------------------------------------------------------------STICKY NAV---------------------------------------------------*/
.sticky {
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    top: 0;
    margin: 0;
    border-radius: 0px;
    background-color: var(--tertiary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 90000;
}

/*-------------------------------------------------------------------------HERO---------------------------------------------------*/
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 20rem;
    scroll-behavior: smooth;
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 50vw;
    gap: 2rem;
}

.hero-left p {
    width: 27rem;
}

.get-started-btn {
    width: fit-content;
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
}

.hero-rigth {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 0px 35px 35px 0px;
}

.background {
    position: absolute;
    margin-top: 5rem;
    padding: 16.5rem 14rem;
    background-color: var(--tertiary-color);
    background-position: 2rem 4rem;
    border-radius: 50% 40% 15px 50%;
}

.girl {
    position: absolute;
    margin-top: 5rem;
    margin-left: 5rem;
    z-index: 1;
    width: 29rem;
}

.fleche {
    z-index: 5;
    margin-bottom: 13rem;
    margin-left: 25rem;
    position: absolute;
    width: 8rem;
}

.banner {
    position: absolute;
    margin-top: 32rem;
    margin-right: 17.5rem;
    z-index: 2;
    width: 8rem;
    border: 4px solid transparent;
    box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.512);
}

.note {
    font-size: 1rem;
    border-radius: 20px;
    padding: 0.2rem 0.5rem;
    background-color: white;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin-bottom: 22rem;
    margin-right: 19rem;
}

.note i {
    background-color: var(--secondary-color);
    border-radius: 100%;
    padding: 0.15rem;
    font-size: 0.8rem;
    border: 1px solid var(--black);
}

.note p {
    font-size: 0.7rem;
}

/*--------------------------------------------------------------RESPONSIVE HERO-------------------------------------------------------------------*/
.menu {
    z-index: 9000;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    gap: 3rem;
    padding: 0.5rem;
    background-color: var(--white);
    transition: transform 0.8s ease;
    transform: translateX(-100%);
}

.menu.show {
    transform: translateX(100%);
}

.menu a {
    text-decoration: none;
    color: var(--black);
    margin-left: 1.7rem;
    font-weight: bold;
}

.menu i {
    color: var(--secondary-color);
    padding: rem;
    font-size: 1.7rem;
    margin-left: 23rem;
}

@media (max-width: 415px) {
    header {
        height: auto;
        width: 100vw;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: transparent;
    }

    .navbar {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100vw;
    }

    .nav-list {
        display: none;
    }

    #showMenu {
        display: block;
        margin-left: 8rem;
    }

    .sign-out-btn {
        padding: 0.5rem;
        margin-right: 0.5rem;
    }

    .hero {
        display: block;
        width: 100vw;
    }

    .hero-left {
        display: none;
    }

    .hero-rigth {
        height: 65%;
        margin-bottom: -4rem;
    }

    .background {
        padding: 12rem 11.5rem;
        border-radius: 50% 40% 45px 50%;
    }

    .girl {
        width: 21.5rem;
        margin-top: 4.5rem;
        margin-left: 2rem;
    }

    .fleche {
        width: 5rem;
        margin-left: 17rem;
        margin-top: -2rem;
    }

    .banner {
        width: 7.5rem;
        margin-top: 23rem;
        margin-left: 1.2rem;
    }

    .note {
        padding: 0.2rem 1.5rem;
        margin-top: 10rem;
        margin-left: 0.2rem;
        border-radius: 10px;
    }

    .note i {
        margin-left: -1rem;
    }

    .note p {
        font-size: 0.8rem;
    }
}

/*--------------------------------------------------------------------------SECTION 1----------------------------------------------------------------------------------------------*/
.place {
    margin-top: 2rem;
    width: auto;
    display: flex;
    flex-direction: row;
    height: 75vh;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    transform: scale(0.95);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.place.visible{
    opacity: 1;
    transform: scale(1);
}

.place-left {
    width: 50vw;
    display: flex;
    margin-left: 7rem;
}

.placeX{
    border-radius: 15px;
}

.place1{
    width: 15rem;
    height: 13rem;
}

.place2{
    height: 15rem;
    width: 17rem;
}

.one{
    position: absolute;
    top: 0;
    margin-top: 2rem;
    margin-left: 2rem;
}
.two{
    position: absolute;
    top: 0;
    margin-top: 1rem;
    margin-left: 18rem;
}
.three{
    position: absolute;
    margin-left: 2rem;
    
}
.four{
    position: absolute;
    margin-left: 20rem;
    
}

.place-right{
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 2rem;
}

.place-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.place-description button{
    width: fit-content;
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
}

.place-rating{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
}